.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

data/processed/*
!data/processed/.gitkeep

index/*
!index/.gitkeep

*.log

# Ignore all markdown files
*.md

# But DON'T ignore README.md
!README.md